<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOS-Socket-C-Version-Server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6961DA971C13E23B00E7FA6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6961DAB01C13E23B00E7FA6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6961DABB1C13E23B00E7FA6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
